<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 0;
		  background-image:url(8.jpg);
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
			background-image:url(8.jpg);
        }
      }

    </style>

  </head>

  <body>

<div id="div1">
      <h1 style="text-align: center;font-family: Comic Sans MS;font-size: 40px;">So U Learn<a  href="https://www.facebook.com/soulearn/" class="fa fa-facebook"></a></h1>
</div>
	
<div id="div2">

         <div id="div4"> </div>
         <div id="div5">
           <div class="wrapper">
            <a href="ssss/S.html" > <img src="s.jpg"  title="Story of Us"/>
            <div class="overlay">
				  <div class="content">Story of Us</div>
			  </div>           
            </a>
             </div>  
         </div>
         <div id="div6">
            <div class="wrapper">
             <a href="O.html"> <img src="o.jpg"  title="Our Kids"/>
              <div class="overlay">
				  <div class="content">Our Kids</div>
			  </div>
              </a>
             </div>  
         </div>
         <div id="div7">
            <div class="wrapper">
               <a href="U.html"> <img src="u.jpg"  title="U can write here"/>
              <div class="overlay">
				  <div class="content">U can write here</div>
			  </div>
              </a>
             </div>
         </div>
         <div id="div8">
             <div class="wrapper">
              <a href="L.html"> <img src="l.jpg"  title="Love To Do"/>
              <div class="overlay">
				  <div class="content">Love To Do</div>
			  </div>
              </a>
             </div>
         </div>
         <div id="div9">
         </div>
</div>


<div id="div3">
</div>
	<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
