<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Abhinav's Project</title>

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!-- CSS references; Google Fonts & FontAwesome -->
<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Navbar Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Abhinav Sundaram</a>
        </div>
        <!-- END Navbar Header -->
        <!-- List out the nav links, will be toggled if necessary -->
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#about"><i class="fa fa-info-circle"></i> About</a></li>
                <li><a href="#portfolio"><i class="fa fa-folder"></i> Projects</a></li>
                <li><a href="#contact"><i class="fa fa-at"></i> Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- END nav links -->
</nav>
<!-- END Navigation Bar -->

<!-- Home -->
<div class="header-image" id="home">
    <div class="header container">
	<br>
        <h1>Abhinav Sundaram</h1>
        <h3 style="color: black; text-shadow: none; font-weight: bold;">Java in Coffee. Java in Code.</h3>
        <p style="font-size: 24px">
		<a href="https://github.com/esabhinav" target="_blank"><i 
            		class="devicon-github-plain"></i></a>&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/esabhinav/" target="_blank"><i
                    class="devicon-linkedin-plain"></i></a>
        </p>
    </div>
</div>
<!-- END Home -->


<!-- About -->
<div class="info-background" id="about">
    <div class="info container">
        <div class="row">
            <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <img src="https://i.imgur.com/3VDZlAf.jpg"
                     class="img-rounded" alt="Abhinav" width="304" height="400">
            </div>
            <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <p class="larger-font text-left">About me</p>
            </div>
            <div class="col-md-8 col-xs-12 col-xs-offset-1 col-md-offset-0">
                <p>I am a Information Science graduated engineer employed at Tata Consultancy Services Ltd. as Software Developer</p>
            </div>
            <div class="col-md-4 col-xs-10 col-sm-6 col-xs-offset-1 col-md-offset-0">
                <p class="larger-font text-left">My Skills</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;
                	<i class="devicon-java-plain"></i>Java<br> &nbsp;&nbsp;&nbsp;
                        <i class="devicon-cplusplus-plain"></i> C++<br> &nbsp;&nbsp;&nbsp;
			<i class="devicon-python-plain"></i> Python<br> &nbsp;&nbsp;&nbsp;
                    	<i class="devicon-c-plain"></i> C<br> &nbsp;&nbsp;&nbsp;
			<i class="devicon-javascript-plain"></i> JavaScript<br> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-4 col-xs-15 col-sm-6 col-xs-offset-1 col-md-offset-0">
                <p class="larger-font text-left">Expertise</p>
                <p>&nbsp;&nbsp;&nbsp;
                    <i></i> 1. Data Structures<br> &nbsp;&nbsp;&nbsp;
                    <i></i> 2. SOAP & RESTful web services<br> &nbsp;&nbsp;&nbsp;
                    <i></i> 3. JSP & Servlets<br> &nbsp;&nbsp;&nbsp;
		    <i></i> 4. XML & XSLT &nbsp;&nbsp;&nbsp;</p>
                <p class="larger-font text-left">Interests</p>
                <p>&nbsp;&nbsp;&nbsp;
                    <i></i> 1. Machine Learning<br>&nbsp;&nbsp;&nbsp;
                    <i></i> 2. Deep Learning</p>
            </div>
        </div>
    </div>
</div>
<!-- END About -->


<!-- Projects -->
<div class="portfolio" id="portfolio">
    <div class="container">
        <p class="larger-font">Projects</p>
                <div align="justify">
        <b><p style="font-size:24px" class="text-left">1. Web Application for TamilNadu Bharat Petroleum Dealer Association, <i>Java</i></p></b>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        		Developed a complete web application for TamilNadu Bharat Petroleum Dealer Association using Java,
				SQL, JSP and JQuery for development. The pages were hosted from Amazon Web Services Cloud.
				The application is aimed to connect the Bharat Petroleum dealers across Tamil Nadu and ease their
				work by keeping track of certain tasks.</p><br>
        
			<b><p style="font-size:24px" class="text-left">2. Home Automation With Raspberry Pi, <i>Java</i></p></b>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				Implemented a home automation system which enabled controlling remotely connected devices
				through Raspberry Pi. The project used client-server paradigm where the Raspberry acted as the server
				controlling all devices. A WebUI was also developed to keep track of connected devices. The project
				helped understand the nuances of Internet of Things.</p><br>
        
			<b><p style="font-size:24px" class="text-left">3. Predicting Stock Prices using Machine Learning, <i>Python</i></p></b>
        <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				Implemented various Machine Learning models to predict the rise and fall of stock prices before the
				actual event of an increase or decrease in the stock price occurs. The project involved various stages like
				data pre-processing, feature engineering, data-modeling and evaluation. Multiple regression models
				like Linear Regression, Logistic Regression and Decision Trees were tried out as part of the project.</p><br>
        
        </div>
    </div>
</div>
<!-- END Projects -->

<!-- Contact -->
<div class="contact" id="contact">
    <div class="container">
        <p class="larger-font">Contact Me</p>
        <p>
	    <a href="https://github.com/esabhinav" target="_blank"><i 
            	    class="fa fa-github fa-3x social-icon"></i></a>&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/esabhinav/" target="_blank"><i
                    class="fa fa-linkedin fa-3x social-icon"></i></a>
            <a href="https://www.facebook.com/abhinav.sundaram" target="_blank"><i
            	    class="fa fa-facebook fa-3x social-icon"></i></a>
            <a href="https://twitter.com/abhinav_bale" target="_blank"><i
                    class="fa fa-twitter fa-3x social-icon"></i></a>
            <a href="https://www.instagram.com/esabhinav/" target="_blank"><i
                    class="fa fa-instagram fa-3x social-icon"></i></a>
            <a href="mailto:esabhinav@gmail.com"><i
            		class="fa fa-envelope fa-3x social-icon"></i></a>
    </div>
</div>
<!-- END Contact -->


</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
</body>
</html>
