<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   
    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/post9-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>" The happiest people I know are those who lose themselves in the service of others."

</h1>
              <h2 class="subheading">- Gordon B. Hinckley</h2>
              <span class="meta">Article by
                <a href="https://www.facebook.com/muralikrishna.kadava?fref=mentions">Jeevan Shastry</a>
                </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>It’s much easier to forget your personal woes when you’re serving the needs of those around you. There are helpless aspiring minds out there in the world which need a little bit of moral and mental support. Minds with extraordinary vision but lack of resources. It is the responsibility of the “Haves” to aid such sparkling minds. Yes!! That is what we do!!</p>
			  <p><b>EDUCATING MINDS…..EMPOWERING LIVES.</b></p>
<p>"SoUL"-So U Learn. Society has given so much to you. Have you ever been thankful for it?? No!! Have you ever thanked your teacher for teaching you in school?? If you ever thanked, then have you noticed a heartfelt smile on his/her face?? What if you had that kind of heartfelt smile on your face ? How would that be? ‘Giving back to society’ is what SoUL is doing as an act of gratitude for the things we have got/received so far. We SoUL-ians believe Service is not a favour to the have-nots, but is the responsibility of the haves. The best part of being a ‘SoUL’-ian is having that feeling of content & seeing the young faces happy .</p>
<p>They say “Education is the most powerful tool to change the world.” Our motto complies with this statement – Providing excellent education to our Balmandir children to bring a positive change their lives and nurture them into working towards their dream.</p>
<p>I have had a wonderful journey in SoUL. Since the day I got into SoUL, I’ve felt something special about myself for imparting knowledge and helping a kid learn. Here  you are both a teacher and a student at the same time. Not only you make them learn, you learn from them too.</p>
 <p>The kids in Balmandir?? My God!! They are too naughty & their fickle attention makes  it quite challenging to teach them.  They hail from poor backgrounds where their parents can barely afford to educate them. It is really impressive that they live away from home at such a tender age and still show such an enthusiasm for learning. They have showed that it is possible to overcome difficult odds and still do something if you really want to and that is what I am inspired by them for!
One thing our Balmandir kids have taught me is Patience . You will need a lot of patience to make them sit in one place and learn. At the end of the day, if you are able to set happiness in their life, you did your part. </p>
<p>"There is no greater joy nor greater reward than to make a fundamental difference in someone’s life"</p>
<p>-Mary Rose McGeady</p>

<p>Another beautiful thing in SoUL is the love the kids shower on you. Trust me , nowhere I have had such feeling. They write poems on/for  you, give you hand-made greeting cards, draw pictures for you. Its their way of showing gratitude towards you-this is real happiness. What more do you want?! . I am lucky that “SoUL” happened in my life. I am still a “SoUL” volunteer and will always be for the rest of my life. Remember! What goes around…comes around. Do good or do bad, either ways it  comes back to you. The choice is yours. 
</p>
         <p> 	<img src="img/Jeevan Shastry.jpg" alt="" width="250" height="254" align="right"></p>
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/jeevan.jeez">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
