<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
   

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/chennai.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>A hand for Chennai</h1>
              <h2 class="subheading">ಮನಸಿನ ಪುಟಗಳು</h2>
              <span class="meta">Article by
                Murli Krishna Kadava
                </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto"><p>
          ಕಾಲೇಜು ತರಗತಿಗಳೆಲ್ಲಾ ಮುಗಿದು, ಪರೀಕ್ಷೆಗೆ ತಯಾರಿ ನಡೆಸುತ್ತಿದ್ದಾಗ, ಚೆನ್ನೈ ಹಾಗು ಸುತ್ತಮುತ್ತಲ ಊರುಗಳಲ್ಲಿ ಮಳೆ ಮತ್ತು ಪ್ರವಾಹದ ಸುದ್ದಿ ಮಾಧ್ಯಮಗಳಲ್ಲಿ ಪ್ರಸಾರವಾಗುತ್ತಿತ್ತು. ವರುಣನ ಆರ್ಭಟದ ನಡುವೆ ಪ್ರವಾಹದಲ್ಲಿ ಕೊಚ್ಚಿ ಹೋಗುತ್ತಿರುವ ತಮ್ಮ ಬದುಕನ್ನ ನೋಡುತ್ತಾ ನಿಂತಿರುವ ನೂರಾರು ಅಸಹಾಯಕ ಜನರು ಸಹಾಯಕ್ಕಾಗಿ ಗೋಗರೆಯುತ್ತಿರುವ ದೃಶ್ಯ ಎಲ್ಲಾ ಕಡೆ ಪ್ರಸಾರವಾಗ್ತಿತ್ತು.

ಹೌದು ಈ ಭೂಮಿಗೆ ಬಡವ, ಶ್ರೀಮಂತ, ಜಾತಿ, ಧರ್ಮದ ಭೇದವಿಲ್ಲ. ಭೂಕಂಪ, ಪ್ರವಾಹ ಮುಂತಾದ ವಿಕೋಪಗಳೆಲ್ಲವೂ ಪೂರ್ತಿ ಊರನ್ನೇ ವಿನಾಶದಂಚಿಗೆ ದೂಡುತ್ತದೆ. ಇಲ್ಲೂ ಅದೇ ತರಹ ಪ್ರವಾಹ ಬಂದು ಪೂರ್ತಿ ಚೆನ್ನೈ ನಗರ ಅಸ್ತವ್ಯಸ್ತವಾಯ್ತು. ಜನರ ದಿನ ಬಳಕೆಯ ವಸ್ತುಗಳೆಲ್ಲಾ ನೀರಿನಡಿ ಮುಳುಗಿ, ಜನರೆಲ್ಲಾ ಅಸಹಾಯಕ ಸ್ಥಿತಿಗೆ ತಲುಪಿದ್ದರು.

ಮಾನವೀಯತೆ ಅನ್ನೋದು ಜೀವಂತವಾಗಿದೆ ಅನ್ನೋದಕ್ಕೆ ನಿದರ್ಶನ ಎಂಬಂತೆ ಜಗತ್ತಿನೆಲ್ಲೆಡೆಯಿಂದ ಸಹಾಯಹಸ್ತ ಹರಿದುಬಂತು. ನೂರಾರು ಜನ ಸ್ವಯಂಸೇವಕರು ಅಹರ್ನಿಶಿಯಾಗಿ ಪರಿಹಾರ ಕಾರ್ಯದಲ್ಲಿ ಪ್ರತ್ಯಕ್ಷವಾಗಿ ಮತ್ತು ಪರೋಕ್ಷವಾಗಿ ತೊಡಗಿಕೊಂಡರು.

ಅದೇ ಸಮಯದಲ್ಲಿ ನಮ್ಮ ಹಾಸನದ ‘SOUL’ (So U Learn) ಎಂಬ ವಿದ್ಯಾರ್ಥಿ ಸ್ವಯಂಸೇವಕರ ಸಂಸ್ಥೆ ತಾನೂ ಪರಿಹಾರ ಕಾರ್ಯದಲ್ಲಿ ಕೈ ಜೋಡಿಸುವಂತೆ ನಿರ್ಧರಿಸಿತು. ಪ್ರಮುಖವಾಗಿ ಸರ್ಕಾರಿ ವಿದ್ಯಾರ್ಥಿ ನಿಲಯದಲ್ಲಿ ಕಲಿಯುವ ಮಕ್ಕಳಿಗೆ ಇಂಗ್ಲಿಷ್ ಸೇರಿದಂತೆ ವಿವಿಧ ವಿಷಯಗಳ ಕುರಿತು ತರಗತಿ ನಡೆಸುವ ಈ ತಂಡ, (Food drive,  cloth drive,  book drive ) ನಂತಹ ಸಾಮಾಜಿಕ ಚಟುವಟಿಕೆಗಳ ಮೂಲಕ, ಸುತ್ತಲಿನ ಸಮಾಜಕ್ಕೆ ತನ್ನ  ಸಹಾಯ ಹಸ್ತವನ್ನು ಚಾಚುತ್ತಿದೆ.
ನಮ್ಮ ಹಿರಿಯ ಗೆಳೆಯರ ಮಾರ್ಗದರ್ಶನದಂತೆ, ಸುತ್ತಲಿನ ಪರಿಸರದಲ್ಲಿ ದಿನಬಳಕೆಯ ವಸ್ತುಗಳಾದ ಬೆಡ್ ಶೀಟ್, ಹೊದಿಕೆ, ರೈನ್ ಕೋಟ್, ಪರದೆ ಹಾಗು ಬೆಚ್ಚಗಿನ ಉಡುಪುಗಳ ಸಂಗ್ರಹಣಾ ಕೆಲಸವನ್ನ 2 ದಿನಗಳ ಕಾಲ ಕೈಗೊಂಡೆವು.  ನಾವು ಹತ್ತಾರು ವಿದ್ಯಾರ್ಥಿ ಸ್ವಯಂಸೇವಕರ ತಂಡ ರಚಿಸಿ ಮನೆ ಮನೆಗಳಿಗೆ ಭೇಟಿ ನೀಡಿ, ಮೇಲಿನ ಸಾಮಾಗ್ರಿಗಳನ್ನ ಸಂಗ್ರಹಿಸಿದೆವು.

ಹಲವು ದಾನಿಗಳ ಧನ ಸಹಾಯದೊಂದಿಗೆ ಮತ್ತಿತರ ವಸ್ತುಗಳನ್ನು( candles,  mosquito coils,  sanitary napkins,  drinking water bottles, phenyl) ಖರೀದಿಸಿದೆವು.

ನಂತರ 3ನೇ ದಿನ ಸಂಗ್ರಹಿಸಿದ ವಸ್ತುಗಳನ್ನೆಲ್ಲಾ ವಿಂಗಡಿಸಿ ಬೇರೆ ಬೇರೆ ಪ್ಯಾಕ್ ಮಾಡಿ ಚೆನ್ನೈ ನಲ್ಲಿ ಪರಿಹಾರ ಕಾರ್ಯದಲ್ಲಿ ತೊಡಗಿರುವ ಒಂದು ಸ್ವಯಂಸೇವಕ ಸಂಸ್ಥೆಗೆ ಕಳುಹಿಸಿದ ಆ ಕ್ಷಣ ನಮ್ಮೆಲ್ಲರ ಸುಸ್ತನ್ನು ಮರೆಸಿ ಮನದಲ್ಲಿ ಧನ್ಯತಾ ಭಾವವನ್ನು ಮೂಡಿಸಿತು.</p>

			
			  <p> 	<img src="img/Murli Krishna Kadava.jpg" alt="" width="250" height="254" align="right"></p>
              

            
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/muralikrishna.kadava?fref=mentions">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
