<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <title>U can write here</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
   

    <!-- Page Header -->
    <header class="masthead" style="background-image:url(img/xxx.jpg)">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1> Power Of Responsibility</h1>
              <h2 class="subheading">Being Responsible</h2>
              <span class="meta">Article by
                Sachin
                </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto"><p>
          


   After independence we had  a nation which is  nothing but a crippled ,impoverished ,educationally deprived democracy,with only 11℅literacy rate when the British imperialists left us.Today we're at a literacy rate of 74.04℅when most of our neighbours ,contemporaries at higher rates moving towards the status of a developed nations. When we publicized the above details , the most common scenario that we face were "so what can we do about it , we never asked them to be there in the first place ,besides we are  just a bunch of college students barely in our late 19s and early 20s.We are neither motivated nor guided to take responsibility "," we think its the responsibility of our govternment not us" and all other sort of nonsenses. We said " we had enough of this ,we need to do something about it !".
 
We did something ,because we do care ,firstly because we wanted to make a difference in the society not one of  revolution but a change that we thought was inevitable ; secondly , we were deeply moved by the Gandhian ideology " Be the change you want to see", we are changing one step at a time , filling the void of responsibility one drop at a time.
	 <p>Social Entrepreneurship</p>
<p>"One man with courage makes the difference ", with enormous faith on the ship that we built ,our beloved " SoUL"(so u learn) with an entrepreneurial keeda pushing us we stepped in to make a difference a significant one though small in the national scenario ,but gigantic to a kid we encounter at the balmandir ,where we incubate moral values, scientific temper ;even wierder techniques of learning creating an astronomical difference between the Orthodox school ways  which mainly focus on regurgitating the data .And our enterprising methods which keeps in view each kids orientation of learning .
 We also inculcate the necessary discipline ,enhance their communication skills so they face the society boldly,we also instil in them the power of responsibility so that they help the needy ones.
   It was sheer responsibility towards the growth of national literacy rate even though at a quantum scale. At the end of each session , we feel a sense of joy being able to uphold the idea of responsibility towards the nation , changing the perspective of the nation globally from being a developing nation towards a developed one; empowering her with education , enriching her, standing beside her always , bcoz we are the foundations of responsibility on which the pillars of development shall be laid , bcoz that is an act of courage and that my friends is the power of responsibility</p>

			
			  <p> 	<img src="img/sachin.jpg" alt="" width="250" height="254" align="right"></p>
              

            
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/muralikrishna.kadava?fref=mentions">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
