<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <title>U can write here</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
				 <h1>U can write here</h1>
              <span class="subheading">To share &nbsp; To connect &nbsp; To create &nbsp; To inspire &nbsp; </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
                     
                     
                     <div class="post-preview">
						<a href="postt.html">
						  <h2 class="post-title">
							A Hand for Chennai
						  </h2>
						  <h3 class="post-subtitle">
							ಮನಸಿನ ಪುಟಗಳು
						  </h3>
						</a>
						<p class="post-meta">Article by
						  Murli Krishna Kadava
						  </p>
					  </div>
		<hr>
				  
                     <div class="post-preview">
						<a href="post9.html">
						  <h2 class="post-title">
							" The happiest people I know are those who lose themselves in the service of others."

						  </h2>
						  <h3 class="post-subtitle">
							- Gordon B. Hinckley
						  </h3>
						</a>
						<p class="post-meta">Article by
						 Jeevan Shastry
						  </p>
			         </div>
	  <hr>
					  <div class="post-preview">
						<a href="post.html">
						  <h2 class="post-title">
							Sharing Happinesss
						  </h2>
						  <h3 class="post-subtitle">
							Happiness is shared only when real
						  </h3>
						</a>
						<p class="post-meta">Article by
						  Murli Krishna Kadava
						  </p>
					  </div>
          <hr>
					  <div class="post-preview">
						<a href="post1.html">
						  <h2 class="post-title">
							Unrevealed bridge
						  </h2>
						  <h3 class="post-subtitle"></h3>
						</a>
						<p class="post-meta">Article by
						  Anonymous
						  </p>
					  </div>
          <hr>
					  <div class="post-preview">
						<a href="post2.html">
						  <h2 class="post-title">
							The SoULian way of INDIA's 70th year of independence
						  </h2>
						  <h3 class="post-subtitle">You must be the change you want to see in the World.</h3>
						</a>
						<p class="post-meta">Article by Divya Kaundinya
						  
						  </p>
					  </div>
          <hr>
                        <div class="post-preview">
						<a href="post3.html">
						  <h2 class="post-title">Being a part of SoUL</h2>
						  <h3 class="post-subtitle">Outlasting Epilogue </h3>
						</a>
						<p class="post-meta">Article by Divya Kaundinya </p>
					  </div>
					  
         <hr>
                     
                      <div class="post-preview">
						<a href="post5.html">
						  <h2 class="post-title">My Journey in SoUL</h2>
						  <h3 class="post-subtitle">The Walk under moonlight</h3>
						</a>
						<p class="post-meta">Article by Deepak Kumar
						 </p>
					  </div>
   <hr>
                      
                        <div class="post-preview">
						<a href="post4.html">
						  <h2 class="post-title">SoUL-A Klieg of Our Life</h2>
						  <h3 class="post-subtitle">An Epilogue which has no end</h3>
						</a>
						<p class="post-meta">Article by Lakshmi Priya
						 </p>
			            </div>
<hr>
			             <div class="post-preview">
						<a href="post6.html">
						  <h2 class="post-title">ಒಂದು ಸಂತಸ</h2>
						  <h3 class="post-subtitle">ಅನುಭವ</h3>
						</a>
						<p class="post-meta">Article by Sudhamshu A V
						 </p>
			            </div>
			             <div class="post-preview">
						<a href="post8.html">
						  <h2 class="post-title">The road taken</h2>
						  <h3 class="post-subtitle">never ending..</h3>
						</a>
						<p class="post-meta">Article by Sujan B Mohan
						 </p>
			            </div>
			             <div class="post-preview">
						<a href="post7.html">
						  <h2 class="post-title">Power of Responsibility</h2>
						  <h3 class="post-subtitle">Being responsible..</h3>
						</a>
						<p class="post-meta">Article by Sachin
						 </p>
			            </div>
               <!-- Pager -->
         
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/soulearn/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
				</li>
            </ul>
           
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
